* { margin: 0; padding: 0;}
body {
    background: #fefefe;
}
.theme-dark {
    background: #1d1e23;
}
.ivu-menu-item-group-title {
    color: #ffe;
}
.sider-logo span {
    display: none;
}
.ivu-layout-sider-collapsed .sider-logo span {
    display: block;
}
.ivu-layout-sider-collapsed .ivu-menu-item-group-title {
    padding: 0;
    text-align: center;
}
.ivu-menu-item {
    color: hsla(0,0%,100%,.7);
}
.ivu-menu-item span {
    display: inline-block;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.ivu-menu-item i {
    transition: all .2s;
}
.ivu-layout-sider-collapsed .ivu-menu-item span {
    width: 0px;
    transition: width .2s ease;
}
.ivu-layout-sider-collapsed .ivu-menu-item i {
    margin: 0.8rem 0;
    transform: scale3D(1.6,1.6,1.0);
}
.ivu-layout-sider-collapsed .ivu-menu-item {
    padding: 0.7rem;
}
.ivu-menu-item {
    padding: 0;
    text-align: center;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    background: #101117;
    color: #f6ca9d;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    background: #f6ca9d;
    width: 3px;
}
.ivu-layout-sider-collapsed .ivu-menu-item-group .ivu-menu-item-group-title {
    height: 0px;
    overflow: hidden;
    text-transform: uppercase;
}